[submodule "Engine"]
	path = Engine
	url = https://github.com/MonsieurBleu/Vulpine-Engine
[submodule "build/shader"]
	path = build/shader
	url = https://github.com/MonsieurBleu/VESL--Vulpine-Engine-Shader-Library
